<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2><a href="http://joshmachado.github.io/research_projects">Research</a></h2>
    <p>Summaries of my research pprojects.</p>
  </div>
  <div class="tech">
    <a href="http://joshmachado.github.io/cv"><h2>CV</a></h2>
    <p>Here's a link to my CV.</p>
  </div>
  <div class="tech">
    <h2>Presentations</h2>
    <p>Eventually.</p>
  </div>
  <div class="tech">
    <h2>Blog</h2>
    <p>Research endeavors and general thoughts.</p>
  </div>
</div>
