<div class="user-details">
  <div>
    <img src="http://joshmachado.github.io/profile.png" alt="profile.png" class="center" width="200" height="200" style="padding-top: 20px; margin-bottom: -80px">
  </div>
  <div>
    <h1>About Me</h1>
  </div> 
  <p>{{ site.user_description }}</p>
<style>
    a { color: #181e26; } /* CSS link color */
  </style>
</div>
<div class="user">
  <div class="tech">
    <h2><a href="http://joshmachado.github.io/research_projects">Research</a></h2>
    <p>What I've worked on.</p>
  </div>
  <div class="tech">
    <a href="http://joshmachado.github.io/cv" target="_blank"><h2>CV</a></h2>
    <p>Here's a link to my CV.</p>
  </div>
  <div class="tech">
    <h2><a href="http://joshmachado.github.io/research_projects/presentations">Presentations</a></h2>
    <p>Eventually.</p>
  </div>
  <div class="tech">
    <h2><a href="http://joshmachado.github.io/blog">Blog</a></h2>
    <p>General thoughts.</p>
  </div>
</div>
