<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Research</h2>
    <p>As an undergrad I worked with ammonia emission...</p>
  </div>
  <div class="tech">
    <h2>CV</h2>
    <p>Here's a link to my CV.</p>
  </div>
  <div class="tech">
    <h2>Presentations</h2>
    <p>Eventually</p>
  </div>
  <div class="tech">
    <h2>Blog</h2>
    <p>I started a blog when I started graduate school to share research endeavors and general thoughts.</p>
  </div>
</div>
